@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;700;800;900&display=swap');

@font-face {
    font-family:'Bree-Serif';
    src: url('Fonts/Bree_Serif/BreeSerif-Regular.ttf');
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'LeagueSpartan', sans-serif; */

}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;

}
h4 {
    font-size: 20px;
    color: #222;
}
h6 {
    font-weight: 700;
    font-size: 12px;
}
p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}
body {
    width : 100%;
}
button.normal, input.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff;
    background-color: #088178;
    color: #fff;
    background-color: #088178;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: 0.2s;
}


button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.6);
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
}

#navbar  {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li {
    list-style-type: none;
    padding: 0 20px;
    

}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
    position: relative;

}

#navbar li a:hover, 
#navbar li a.active {
    color: #088178;
}
#navbar li a.active::after, #navbar li a:hover::after {
    content: "";
    width: 50%;
    left: 0;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -8px;
}

/* HOME PAGE */
#hero {
    background-image: url(Images/fashion-girl.jpg);
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top 34% right 0%;
    padding: 0 80px;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 90vh;

}

#hero h4 {
    padding-bottom: 15px;
    color: #89f6ef;

}
#hero h2 {
    color: #fff;
}
#hero h1 {
    color: rgb(222, 178, 64);
    
}
#hero p {
    color: #fff;
}

#hero button {
    background-image: url(images/model-child.webp);
    background-position: top 40% right 93%;
    /* background-size: cover; */
    background-color: transparent;
    /* border-radius: 20%; */
    color: hsl(174, 23%, 91%);
    border: 0;
    background-repeat: no-repeat;
    padding: 14px 80px 14px 65px;
    font-weight: 700;
    font-size: 20px;
    /* height: 5rem; */
}
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box {
    width: 180px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.07);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box img {
    width: 96px;
    height: 96px;
}
#feature .fe-box h6 {
    text-align: center;
}
#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(0,0,0,0.1)
}
#product1 {
    text-align: center;
}
#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product1 .pro:hover {
    box-shadow:  20px 20px 30px rgba(0,0,0,0.06);
}
#product1 .pro img {
    background-color: #E3E6F3;
    width: 100%;
    height: 244px;
    border-radius: 20px;
    /* object-fit: cover; */
    padding: 20px;

}
#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}
#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.pro-container a {
    text-decoration: none;
    /* color: ini */
}
#product1 .pro  {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin:15px 0;
    transition:  0.2s ease;
    position: relative;
}
#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro h4 {
    font-size: 15px;
    font-weight: 700;
    color: #088178;
} 
#product1 .pro .des i {
    color:rgb(243, 121, 24);
}
#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #EBC5ED;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}


#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(Images/fashion-girl.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: white;
    font-size: 16px;
}


#banner h2 {
    color:#fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: red;
}
#banner button:hover {
    background-color: #088178;
    color: #fff;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(Images/model-child.webp);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner .banner-box.box2 {
    background-image: url(Images/shirt-section.jpg);
}
#sm-banner h4{
    color: white;
    font-size:20px;
    font-weight: 300;
}

#sm-banner h2{
    color: white;
    font-size:28px;
    font-weight: 800;
}
#sm-banner span {
     color: white;
    font-size:14px;
    font-weight: 500;
}

#sm-banner .banner-box button {
    margin-top: 10px;
}
#sm-banner .banner-box:hover button {
    background-color: #EBC5ED;
    border: 1px solid #EBC5ED;

}
#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
} 
#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-image: url(Images/woman-in-summer-fashion.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 .banner-box2 {
    background-image: url(Images/fog-on-dark-waters-edge.jpg);
}
#banner3 .banner-box3 {
    background-image: url(Images/model-girl.jpg);
}
#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3 {
    font-size: 14px;
    font-weight: 800;
    color:rgb(243, 121, 24);
}
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p {
    font-size: 22px;
    font-weight: 700;
    color: #818ea0;
}
#newsletter p span {
    color:rgb(24, 199, 243); 
}
#newsletter .form {
    display: flex;
    width: 40%;
}
#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button {
    background-color: #088178;
    color: white;
    white-space: nowrap;
     border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px
}
footer .logo {
    margin-bottom: 30px;

}
footer h4 {
    font-size: 14px;
    padding-bottom: 20px;

}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow i {
    color:rgb(24, 199, 243);
    padding-right:4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .copyright {
    width: 100%;
    text-align: center;
}
#mobile {
    display: none;
    align-items: center;
}
#close {
    display: none;
}
/* Shop Page */

#page-header {
    background-image: url(Images/model-child.webp);
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#page-header h2,  #page-header p  {
    color: #fff;
}
#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #EBC5ED;
    padding: 15px 20px;
    color: #fff;
    border-radius: 4px;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* Single product */
#prodetails {
    display:flex;
    margin-top: 20px;
}
#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}
.small-img-group {
    display: flex;
    justify-content: space-between;
}
.small-img-col {
    flex-basis:  24%;
    cursor: pointer;
}
#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2 {
    font-size: 26px;
}
#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom:  10px;
}
#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px ;
}
#prodetails .single-pro-details input:focus {
    outline: none
}
#prodetails .single-pro-details button {
    background-color: #EBC5ED;
    color: black;
}
#prodetails .single-pro-details button:hover {
    background-color:rgb(24, 199, 243);
}
#prodetails .single-pro-details button:hover {
    background-color:rgb(24, 199, 243);
}
#prodetails .single-pro-details span {
      line-height: 25px;
}

/* About Page */
#page-header.about-header {
    background-position: top 80% right 21%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(Images/model-girl.jpg);
    background-size: cover;
}
#about-head {
    display: flex;
}
#about-head img {
    width: 50%;
    height: auto;
}
#about-head div {
    padding-left: 40px;
}
#about-app {
    text-align: center;
}
#about-app .video {
    width:70%;
    height: 100%;
    margin: auto;
    margin-top: 30px;
    
}
#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px ;
}

/* Cart Page */

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img {
    width: 70px;
}
#cart table td.cart_products {
#cart table td.cart_products {
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart .input-quantity {
#cart .input-quantity {
    width : 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead {
    border: 1px solid #088178;
    border-left: none;
    border-right: none;
}
#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody tr td {
    padding-top: 15px; 
}
#cart table tbody td  {
    font-size: 13px;
}
.cart-totals {
    border: 1px solid #041e42;
    /* text-align: center; */
    padding:30px;
    justify-content: center;
    width: 60%;
    margin:auto;
}
#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td {
    width:50%;
    border: 1px solid black;
    padding: 10px;
    font-size: 13px;
}
#subtotal input {
#subtotal input {
    background-color: #041e42;
    padding: 12px 20px;
    color: #fff;
}

/* Login Page */

#login-section {
    display: flex;
    justify-content:  center;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}
#login-section h4 {
    color:rgb(222, 178, 64);
    letter-spacing: 5px;
    font-family: '';
}
#login-section input {
    width: 300px;
    margin-top: 1.5rem;
    font-size: 16px;
    padding: 1rem;

}


#login-section #login-btn, #login-section #register-btn {
    background-color:#818ea0;
    color: white;
    border: none;
    outline: none;
}
#login-section .no-account {
    text-align: center;
    margin-top: 0.5rem;
    
}
#login-section .no-account a {
    text-decoration: none;
    color: #818ea0;
}

/* Place order page */
.place-order-form {
    display: grid;
    place-items: center;
    padding: 2rem;
    gap: 1rem;
    margin:auto;
    /* height: 50vh; */
    width: 40vw;
}
.place-order-form input {
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    padding: 15px 10px;

    /* width: 400px; */
}
.place-order-form .form-section, .place-order-form .form-filled{
    padding: 38px;
    border: 1px solid #088178;
    width: 100%;
    height: 100%;
}
.place-order-form .form-section form {
    display: flex;
    flex-direction: column;
}

/* Your account page */
/* .order_info {
    display: flex;
    text-align: start;
    align-items:start;
} */
.order_product img {
    width: 40px;
    margin-right: 10px;
    height: 60px;
    /* object-fit: cover; */
}td.order_info {
    text-align: center;
}
/* th.order_product_header {
text-align: start;
} */
.account-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    text-align: center;
    justify-content: center;
}
.account-details {
    margin-top: 3rem;
    display: flex;
    gap: 9rem;
}
.change-password input{
    margin: 5px 0;
    padding: 0.2rem;
    font-size: 13px;
}
#orders {
    margin-top: 2rem;
}

/* Login Page */

#login-section {
    display: flex;
    justify-content:  center;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}
#login-section h4 {
    color:rgb(222, 178, 64);
    letter-spacing: 5px;
    font-family: '';
}
#login-section input {
    width: 300px;
    margin-top: 1.5rem;
    font-size: 16px;
    padding: 1rem;

}


#login-section #login-btn, #login-section #register-btn {
    background-color:#818ea0;
    color: white;
    border: none;
    outline: none;
}
#login-section .no-account {
    text-align: center;
    margin-top: 0.5rem;
    
}
#login-section .no-account a {
    text-decoration: none;
    color: #818ea0;
}

/* Place order page */
.place-order-form {
    display: grid;
    place-items: center;
    padding: 2rem;
    gap: 1rem;
    margin:auto;
    /* height: 50vh; */
    width: 40vw;
}
.place-order-form input {
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    padding: 15px 10px;

    /* width: 400px; */
}
.place-order-form .form-section, .place-order-form .form-filled{
    padding: 38px;
    border: 1px solid #088178;
    width: 100%;
    height: 100%;
}
.place-order-form .form-section form {
    display: flex;
    flex-direction: column;
}

/* Your account page */
/* .order_info {
    display: flex;
    text-align: start;
    align-items:start;
} */
.order_product img {
    width: 40px;
    margin-right: 10px;
    height: 60px;
    /* object-fit: cover; */
}td.order_info {
    text-align: center;
}
/* th.order_product_header {
text-align: start;
} */
.account-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    text-align: center;
    justify-content: center;
}
.account-details {
    margin-top: 3rem;
    display: flex;
    gap: 9rem;
}
.change-password input{
    margin: 5px 0;
    padding: 0.2rem;
    font-size: 13px;
}
#orders {
    margin-top: 2rem;
}
/* MEDIA QUERY */

@media (max-width: 799px){

    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active {
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile {
    display: flex;
    align-items: center;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left:20px;
    }
    #close {
        display: block;  /*you can also use display: initial */
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag {
        display: none;
    }
    #hero {
        height: 70vh;
        padding: 0 30px;
        background-position: top 30% right 30%;
    }
    #feature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }
    #feature .fe-box {
        margin: 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
    }
    #banner {
        height: 20vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #sm-banner .box2 {
        margin-top: 20px;
    }
    #sm-banner .box2 {
        margin-top: 20px;
    }
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {
        width: 28%;
    }
    #newsletter p {
        font-size: 15px;
    }
    #newsletter .form {
        width: 70%;
    }
    /* Cart Page */
    #cart {
        overflow-x: auto;
    }
    .account-details {
        flex-direction: column;
        gap: 1rem;
    }
    .account-details {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 500px){
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro {
        width: 100%;
    }
    #banner {
        height: 40vh;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #newsletter {
        padding: 40px 20px;
    }
    #newsletter .form{
        width: 100%;
    }

    footer .col {
        width: 100%;
    }

    /* Single Product */
    #prodetails {
        display: flex;
        flex-direction: column;

    }
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0;
    }
    #prodetails .single-pro-details {
        width: 100%;
    }
    
    /* About Page */
    #about-head {
        flex-direction: column;
    }
    #about-head img {
        width: 100%;
    }
    #about-head div {
        padding: 0px;
    }
    #about-app .video {
        width: 100%;
    }
    /* Cart Page */
    #cart-total {
        flex-wrap: wrap;
    }
}

/* Admin login page */
.hero-body {
    background-color: #64e6cd;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}
.logo_div {
    border-radius: 50%;
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color: #cd64e6;
    
}
.home-body {
    text-align: center;
    border-top-left-radius:30% ;
    padding: 1rem 50px 2rem;
    background-color: rgb(152, 151, 151);
    height: 50vh;
}
.welcome {
    margin-top: 35px;
    text-align: center;
}
.form {
    width: 90%;
    margin: auto;
    margin-top: 3rem;
}
.input-con {
    width: 100%;
    padding: 0.5rem 0;

}
.form .input-con input {
    outline:none;
    background-color: transparent;
    width: 90%;
    border: none;
}
.input-field {
    padding: 0.5rem 0;
    display: flex;
    justify-content : space-between;
    border-bottom: 1px solid rgb(54, 54, 54);
}
.remember {
    margin-top: 1.4rem;
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
}
.checkbox {
    flex-wrap: nowrap;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
input[type=checkbox] {
    background-color: rgb(255, 8, 0);
}
.checkbox p {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 5px;
}
.remember a {
    color: rgb(54, 54, 54);
    text-decoration: none;
}
.login-btn {
    display: inline-block;
    padding: 0.4rem;
    text-align: left;
    font-size: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #cd64e6;
}
.login-btn:hover {
    cursor: pointer;
}

.login-btn input {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

/* END OF ADMIN LOGIN PAGE */
/* ADMIN ACCOUNT PAGE */
.admin-panel {
    font-family: 'Bree-Serif';
    /* background-color: black; */
    text-align: center;
    border-top-left-radius: 20px ;
    /* border-bottom-left-radius: 20px ; */
}
.admin-panel p,  .admin-panel h3 {
    
    color: white;
}
.admin-panel h2 {
    color: #331D2C;
}
.admin-panel .admin-flex {
    display: flex;
    padding: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    gap: 1rem;
}
.admin-panel .panel-title {
    padding: 1rem;
}
.admin-flex .admin-panel-card {
    /* border: 1px solid  */
    margin-right: 20px;
    width: 350px;
    padding: 1rem;
    padding-top: 1.5rem;
    height: 250px;
    /* border: 1px solid #64e6cd; */

    background-color: #A78295;
    color: white;
    border-radius: 10px;
}
.admin-panel-card .log-out {
    color: #FFC95F;
    /* word-spacing: 3px; */
}
.admin-panel-card .btn {
    border: 1px solid white;
    border-radius: 20px;
    transition: all 1s;
    color: #331D2C;
    background-color: white;
}
/* END OF ADMIN ACCOUNT PAGE */



/* PRODUCT VIEW PAGE */
 .view-body .product-body {
        background-color: #A78295;
        width: 100vw;
        /* height: 100vh; */
    }
.view-flex {
    padding: 2rem;
}

.product-cards {
    /* margin-bottom: 130px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    align-items: center;
}
.product-card {
    width:250px;
    /* margin: 20px 0; */
    background-color: #3F2E3E;
    border-radius:10px;
    padding:10px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    line-height: 20px;
}
.card-div {
    width: 100%;
    display: flex;
    color: #EFE1D1;
    align-items: center;
    justify-content: space-between;
}
.card-div p {
    color: #EFE1D1;
}
.dash-links a {
    color: #A78295;
    text-decoration: none;
}
.icon {
    width: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    height:  50px;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #041e42;
}
.admin_navbar {
    display: none;
}
.info {
    width: 70%;
}
.recent-orders {
    overflow-x: scroll;
    margin-top: 100px;
    width: 100%;
}
.recent-orders h4 {
    text-align: center;
}
 /* ADMIN ORDER DETAILS TABLE */
.recent-orders table {
    width: 100%;
    /* table-layout: fixed; */
    white-space: nowrap;
}
.recent-orders table thead {
    background-color: #331D2C;
    color: #606063;
}
.recent-orders table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
.recent-orders table tr {
    padding: 20px 0;
}
.recent-orders table thead tr  td {
    padding-top: 15px;
    margin-right: 20px;
    text-align: center;
}
.recent-orders table td {
    text-align:center;
    width: 250px;
}
/* MANAGE PRODUCTS PAGE */
.admin-body {
    display: flex;
    gap: 2rem;
}
 .accordion-button {
    position: initial;
    display: block;
    align-items: left;
    /* width: 100%; */
    padding: 0 !important;
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}
.accordion {
    --bs-accordion-bg: transparent !important; 
}
/* MANAGE PRODUCTS PAGE */
.manage_products.admin-body table {
    overflow: hidden;
    overflow-x: auto;
    padding: 20px;
    width:100%;
    
}
.manage_products.admin-body table, th, td {
    /* border: 1px solid #088178; */
    /* background-color: rgb(24, 199, 243); */
    border-collapse: collapse;
    padding: 1rem;
}
.manage_products.admin-body th, td {
    padding: 5px;
    text-align: left;
}
 .manage_products.admin-body table#t01 tr:nth-child(even) {
    background-color: #A78295;
}
.manage_products.admin-body table#t01 tr:nth-child(odd) {
   background-color:#EFE1D1;
}
.manage_products.admin-body table#t01 th	{
    background-color: #331D2C;
    color:#606063;
    font-size: 15px;
  
}
.table-products {
    width:  100%;
    /* margin-top:  100px;
    padding: 4rem 2rem; */

}
.admin-prod-body img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.product-body.all-products {
        width: 100%;
    }

/* PRODUCT DETAILS PAGE */
.product-header {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: rgb(152, 151, 151);
    position: fixed;
    padding: 1rem;
}
.product-header p {
    margin: 0;
    color: white;
}
.products-info-section {
    display: flex;
    width: 100%;
    padding-top: 120px;
    flex-direction: column;
}

.images_details img.big-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    
}
.images_details .small-img-group{
    display: flex;
}
.images_details .small-img-group img{
    width: 100px;
    height: 100px
}
.product-description {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
}
.table-products {
    padding: 1rem 2rem;
}
.components {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
    /* position: fixed;
    top: 0;
    left: 0; */
    gap: 10px;
}
.components a {
    color:rgb(152, 151, 151);
    text-decoration: none;
    padding:10px 20px;
    background-color: #331D2C;
    transition: color 1s;
}
.components a:hover {
    color: white;
    
}
/* PRODUCT ADD PAGE */
/* .product-body.add-product {
    width: 60%;
} */
.product-add {
    /* background-color: #041e42; */
    padding: 1rem;
    padding-top: 100px;
}
.product-add .add-card {
   
    padding: 2rem 0;
}
.add-card .add {
    background-color: #A78295;
  display: flex;
  flex-direction: column;
}
.product-input {
    background-color: #3F2E3E;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #606063;
}
.product-input input {
    color:#EFE1D1;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #88847e;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #88847e;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #88847e;
}

.product-input i {
    margin-right: 10px;
    color: #A78295;
}
.colOne, .colTwo {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    align-content: center;
    padding: 2rem;
}
.products-data .star i{
        color: #3F2E3E;
}
.products-data p {
    font-size: 19px;
    font-weight: 700;
    color:  black;
}
.add input {
    width: 90%;
    outline: none;
    border: none;
    background-color: transparent;
}
/* input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color:none !important;
    color: none!important;

} */
input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: transparent !important;
    color: fieldtext !important;
}
.functions {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.functions .btn {
    color:#331D2C;
    background-color: #465b52;
    padding:10px;
    transition: 1s all;
}
.functions .btn:hover {
    color: white;
    background-color:#331D2C;
}
/* .functions a { */


/* END OF PRODUCT ADD PAGE */

/* CATEGORY ADD PAGE */
.category {
    padding-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 450px;
    padding: 2rem;
}
.cat-container {
    width: 600px;
}
.category input {
    width: 100%;
    margin-bottom: 10px;
}
.category .p1 {
    padding: 10px;
}
.category a {
    /* width: 60%; */
    padding: 15px 0;
    display: flex;
    color: #E5B8F4;
    background-color: #606063;
    text-decoration: none;
    justify-content: center;
}
.categories-view {
    display:flex;
    justify-content: center;
    align-content: center;
}
.cat-view-container {
    width: 350px;
    border: 1px solid green;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 3rem;
}
.cat {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}
.cat.active {
    background-color: #818ea0;
}
.cat-view-container hr {
    padding: 1rem;
    width: 100%; 
    margin: auto;
    text-align: center;
}
.cat-description{
    width: 85%;
    margin: auto;
    max-height: 0;
    overflow:hidden;
    min-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 1rem 0.5rem; */
    transition: 0.4s;
}
.cat-description.active {
    min-height: 13rem;
}
.acc-icon {
    cursor: pointer;
}
a.back-link {
    margin-top: 2rem;
    padding: 1rem 2rem;
}
a.update-cat-button {
    color: white;
    background-color: #3F2E3E;
    text-decoration: none;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}
/* For Desktop Version */
@media screen and (min-width: 850px) {
    .hero-body {
        width: 600px;
        margin: auto;
        height: fit-content;
    }
    .hero-body {
        padding-bottom: 2rem;

    }
    /* Admin Account Dashboard*/
    .essentials {
        padding: 96.3px 0;
        width: 70vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    /* FROM ADMIN PAGE */
 
    /* PRODUCT VIEW PAGE */
    .view-body {
        width: 100%;
        /* position: relative; */
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
    }
   
    .admin_navbar {
        display: initial;
        overflow-y: scroll;
        position: fixed;
        padding: 30px 25px;
        height: 100vh;
        /* overflow: hidden; */
        width: 40vh;
        border-radius: 0 20px 0 0;
        margin-right: 15px;
        background-color: #331D2C;
        color:#CEE6F3;
    }
    .dash-links {
        margin: 35px 0;
        /* width: 100%; */
    }
    .product-body {
        /* width:  100%; */
        margin: auto;
        /* padding: 20px; */
        margin-left: 40vh;
        flex-wrap: wrap;
    }
    .product-body.all-products {
        width: 100%;
    }
    .images_details {
        width: 40%;
        
    }
    .images_details img.big-image {
        width: 100%;
        
    }
    .images_details .small-img-group{
        display: flex;
    }
    .images_details .small-img-group img{
        width: 100px;
        height: 100px
    }
    .images_details {
        width: 40%;
    }
    .products-info-section {
        flex-direction: row;
        padding-left: 20px;
    }
    .products-data {
        margin-left: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        /* align-items: center; */
        
    }

    
    /* PRODUCTS ADD PAGE */
    .add-card .add {
        display: grid;  
        
        place-items: center;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1;
        gap: 1rem;
        padding: 2rem;
        width: 100%;
    }

}